{
  BasedOnStyle: LLVM,
  IndentWidth: 4, 
  TabWidth: 4, 
  UseTab: Always, 
  AccessModifierOffset: -4, 
  ColumnLimit: 0, 
  BreakBeforeBraces: Custom, 
  BraceWrapping: { 
    AfterClass: false, 
    AfterControlStatement: false, 
    AfterEnum: false, 
    AfterFunction: false, 
    AfterNamespace: false, 
    AfterObjCDeclaration: false, 
    AfterStruct: false, 
    AfterUnion: false, 
    BeforeCatch: true, 
    BeforeElse: true, 
    IndentBraces: false
  }, 
  ConstructorInitializerAllOnOneLineOrOnePerLine: false, 
  ConstructorInitializerIndentWidth: 4, 
  IndentCaseLabels: false, 
  MaxEmptyLinesToKeep: 1, 
  PointerAlignment: Left, 
  ReflowComments: false, 
  SortIncludes: false, 
  NamespaceIndentation: All, 
  ContinuationIndentWidth: 4, 
  AllowAllArgumentsOnNextLine: false, 
  AllowAllParametersOfDeclarationOnNextLine: false, 
  AllowShortBlocksOnASingleLine: false, 
  AllowShortCaseLabelsOnASingleLine: false, 
  AllowShortFunctionsOnASingleLine: Empty, 
  AllowShortIfStatementsOnASingleLine: false, 
  AllowShortLoopsOnASingleLine: false, 
  AlwaysBreakTemplateDeclarations: true, 
  BreakConstructorInitializersBeforeComma: true, 
  BinPackArguments: true, 
  BinPackParameters: true
}
